*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Comic';
    src: url(COMIC.TTF);
}

.calc {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Comic';
}

.container {
    border: 2px solid;
    margin: 20px auto;
    max-width: 261px;
    background-color: rgb(230, 166, 5);
    height: 193px;
}

.js-screen{
    text-align: end;
    width: 261px;
    height: 30px;
    font-size: 23px;
    background-color: white;
    border-bottom: 2px solid;
    font-family: 'Comic';
}

.numbers-container {
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    max-height: 162px;
    font-family: 'Comic';
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 1px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
}

.numbers:active {
    border: 1px rgb(182, 181, 181) solid;
}

.multiply {
    font-size: 30px;
    padding-top: 14px;
}

.reset {
    border-radius: 5px;
    width: 60px;
    height: 30px;
    position: relative;
    left: 199px;
    bottom: 159px;
    cursor: pointer;
    font-family: 'Comic';
}

.reset:active {
    border: 1px rgb(182, 181, 181) solid;
}

.percent {
    border-radius: 5px;
    width: 60px;
    height: 30px;
    position: relative;
    left: 135px;
    bottom: 128px;
    cursor: pointer;
    font-family: 'Comic';
}

.percent:active {
    border: 1px rgb(182, 181, 181) solid;
}

.delete {
    border-radius: 5px;
    width: 60px;
    height: 30px;
    position: relative;
    left: 71px;
    bottom: 96px;
    cursor: pointer;
    font-family: 'Comic';
}

.delete:active {
    border: 1px rgb(182, 181, 181) solid;
}

.x2 {
    border-radius: 5px;
    width: 60px;
    height: 30px;
    position: relative;
    left: 8px;
    bottom: 64px;
    cursor: pointer;
    font-family: 'Comic';
}

.x2:active {
    border: 1px rgb(182, 181, 181) solid;
}

.result {
    position: relative;
    left: 199px;
    bottom: 62px;
    border-radius: 5px;
    margin: 1px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    font-family: 'Comic';
}

.result:active {
    border: 1px rgb(182, 181, 181) solid;
}